:root {
  --metric-flow-space: 1em;
  --metric-gutter: 1.25rem;
}

body {
  background-color: #003f62;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23006095' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 4rem 1.5rem;
  font-size: 1.1rem;
  font-size: var(--step-0);
  line-height: 1.4;
}

main {
  max-width: 56rem;
  margin: 0 auto;
}

p {
  max-width: 60ch;
}

footer[role='contentinfo'] {
  text-align: center;
  padding: 0 0 4rem 0;
}

footer[role='contentinfo'] p {
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}

hr {
  max-width: 40rem;
  margin: 4rem auto !important;
  border: 0;
  border-top: 1px solid #ccc;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
  color: #ffbc42;
}

h3 {
  font-size: var(--step-2);
}

a {
  color: currentColor;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 1px dotted #333333;
  outline-offset: 0.5rem;
}

/**
 * Flow utility and contexts
 */
.flow > * + * {
  margin-top: 1em;
  margin-top: var(--metric-flow-space);
}

h2 ~ h2 {
  --metric-flow-space: var(--step-4);
}

.reel ~ .reel {
  --metric-flow-space: var(--step-3);
}

/**
 * Reel component 
 */
.reel__heading a {
  font-size: 1rem;
  font-weight: 500;
  color: #fbcbdc;
}

[lang*='en'] .reel__heading a {
  text-transform: uppercase;
}

.reel__list {
  display: flex;
  overflow-x: auto;
  position: relative;
  padding: 0;
  padding-top: var(--step-1);
  -webkit-overflow-scrolling: touch;
}

.reel__item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 var(--metric-gutter) var(--metric-gutter) 0;
  width: 16rem;
}

.reel__item > * {
  flex: auto;
}

[lang*='en'] .reel__heading {
  text-transform: capitalize;
}

.reel__action {
  text-align: center;
}

/**
 * Card component 
 */
.card {
  display: block;
  height: 100%;
  border: 1px solid #003f62;
  border-radius: 0.25rem;
  padding: 1rem;
  background: #f9f9f9;
  color: #b90f4c;
}

.card__heading {
  font-size: var(--step-1);
}

.card p {
  font-size: 1.1rem;
  line-height: 1.3;
  color: #990c3f;
}

/**
 * Scrollbars 
 */

::-webkit-scrollbar {
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #d81159 0%, #990c3f 100%);
  border-radius: 0.25rem;
}

/**
 * Auto grid component 
 */
.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 16rem), 1fr));
  grid-gap: var(--metric-gutter);
  padding: 2rem 0 0 0;
}
