<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml" />
    <style>
      *,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,ul[class],ol[class],figure,blockquote,dl,dd{margin:0}body{min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5}ul[class],ol[class]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img{max-width:100%;display:block}article>*+*{margin-top:1em}input,button,textarea,select{font:inherit}img:not([alt]){filter:blur(10px)}@media(prefers-reduced-motion:reduce){*{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
      {% include "css/typescale.css" %}
      {% include "css/global.css" %}
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#252525" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    {% block content %} {% endblock content %}
    <hr />
    <footer role="contentinfo">
      <div class="[ wrapper ] [ flow ]">
        <p>
          A project by <a href="//hankchizljaw.com">Andy Bell</a>, with special thanks to
          <a href="https://www.ambermiller.co.uk/">Amber Miller</a> for providing a huge
          collection of links to get it running. This site runs on <a href="//11ty.dev">Eleventy</a> and is
          hosted by <a href="//netlify.com">Netlify</a>.
        </p>
        <p>This content is and will always be <a href="//github.com/hankchizljaw/educationlinks.fyi">free and open source</a> under the MIT licence.</p>
      </div>
    </footer>
  </body>
</html>
