{% extends "layouts/base.njk" %}

{% block content %}
  <main class="flow">
    <article class="flow">
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </article>
    <h2>Categories</h2>
    {% for tag in categories.tags %}
      {% set collection = collections[tag.slug] %}

      {% if collection.length %}
        <article class="reel">
          <h3>
            <a href="/category/{{ tag.slug }}">{{ tag.title }}</a>
          </h3>
          <ul class="reel__list">
            {% for item in collections[tag.slug] %}
              <li class="reel__item">
                {% set cardTitle = item.data.title %}
                {% set cardSummary = item.data.summary %}
                {% set cardLink = item.data.link %}
                {% set cardPermalink = item.url %}
                {% include "partials/card.njk" %}
              </li>  
            {% endfor %}
          </ul>
        </article>
      {% endif %}
    {% endfor %}
    
    <h2>Age Groups</h2>
    {% for age in categories.ages %}
      {% set collection = collections[age.slug] %}

      {% if collection.length %}
        <article class="reel">
          <h3>
            <a href="/category/{{ age.slug }}">{{ age.title }}</a>
          </h3>
          <ul class="reel__list">
            {% for item in collections[age.slug] %}
              <li class="reel__item">
                {% set cardTitle = item.data.title %}
                {% set cardSummary = item.data.summary %}
                {% set cardLink = item.data.link %}
                {% set cardPermalink = item.url %}
                {% include "partials/card.njk" %}
              </li>  
            {% endfor %}
          </ul>
        </article>
      {% endif %}
    {% endfor %}
  </main>
{% endblock %}
